main {
    background-color: var(--violet);
    padding: 0 250px;
}

.main__difficult {
    padding: 50px 0;
}

.main__difficult h2 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 10px;
}

.main__difficult__manager {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    gap: 20px;
}

.main__difficult__manager__container {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.main__difficult__manager__container a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: #fff;
    background-color: var(--yellow);
    cursor: pointer;
    transition: opacity .2s linear;
    opacity: 0;
}

.main__difficult__manager__container:hover a {
    opacity: 1;
}

.main__difficult__manager__container:hover img {
    filter: blur(2px);
}

.main__difficult__manager__container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: filter .1s linear;
}